* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    }

:root {
        --main-bg-color: #fefae0;
        --second-bg-color: #f8f2d5;
        --header-color: #283618;
        --button-color: #606c38;
        --rare-color: #dda15e;

        
      }

header {width: 100%;
        height: 80px;
        background-color: var(--header-color);
        color: var(--main-bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        }

.logo {font-weight: bold;
    font-size: 40px;
    font-style: italic;
    color: var(--rare-color);
    transition: all 0.3s;
    border-radius: 5px;
    cursor: pointer;}

.icon-menu {display: none;
        width: 40px;
        height: 40px;}

.responsive_nav {display: none;
    list-style-type: none;}

.responsive_nav button {background-color: var(--button-color);
    color: var(--main-bg-color);
    border-radius: 1px;
    height: 30px;
    padding: 0 5px;
    border: none;
    transition: all 0.3s;}

.responsive_nav button:hover {background-color: var(--rare-color);}


ul {list-style-type: none;}


ul button {background-color: var(--button-color);
    color: var(--main-bg-color);
    border-radius: 1px;
    height: 30px;
    padding: 0 5px;
    border: none;
    transition: all 0.3s;
    }
    
ul button:hover {background-color: var(--rare-color);
    }

li {display: inline-block;
        margin: 0 10px;
              }

li a {text-decoration: none;
        color: var(--main-bg-color)}

.banner-img {width: 100%;
    height: 500px;
    background-image: url(./heroimg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(15, 14, 14, 0.795);
    }

.banner-texto {color: var(--rare-color);
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 200px;
    }

.banner-ubicacion {background-color: var(--button-color);
    color: var(--main-bg-color);
    border-radius: 1px;
    height: 30px;
    padding: 0 5px;
    border: none;
    transition: all 0.3s;
    margin-top: 10px;
    }

.banner-ubicacion a {text-decoration: none;
    color: var(--main-bg-color)}

.banner-ubicacion:hover {background-color: var(--rare-color);
}

.first-container {width: 100%;
    height: 450px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    }

.first-container img {width: 80px;
    height: 80px;
    }

.first-container_producto {  
    text-align: center;
    margin-right: 50px;}

.first-container_delivery {  
    text-align: center;
    margin-right: 50px;}


.second-container {background-color: var(--second-bg-color);
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center ;}


.second-container__text {width: 100%;
    margin-top: 20px;}


.semillas {margin: 20px;}
.semillas h4 {position: absolute;
    margin: 60px 110px;
    font-size: 20px;
    color: var(--rare-color);
    }
.granos {margin: 20px;}
.granos h4 {position: absolute;
    margin: 60px 110px;
    font-size: 20px;
    color: var(--rare-color);
    }
.celiacos {margin: 20px;}
.celiacos h4 {position: absolute;
    margin: 60px 110px;
    font-size: 20px;
    color: var(--rare-color);
    }
.frutos {margin: 20px;}
.frutos h4 {position: absolute;
    margin: 60px 100px;
    font-size: 20px;
    color: var(--rare-color);
    }

.second-container img {width: 300px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
    transition: all 0.3s;
    }

.second-container img:hover {
    padding: 20px;
    border-radius: 40px;
}


.third-container {background-color: var(--main-bg-color);
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.footer {
    width: 100%;
    display: flex;
    height: 80px;
    background-color: var(--header-color);
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

@media screen and (min-width: 400px) and (max-width: 767px) {
    

        .icon-menu {display: flex;
        width: 40px;
        height: 40px;}

       .nav {display: none;}
        
       .first-container img {width: 60px;
        height: 60px;
        }
    
        .first-container_producto {  
        text-align: center;
        margin-right: 30px;
        margin-left: 20px;
        width: auto;}
    
        .first-container_delivery {  
        text-align: center;
        margin-right: 30px;
        margin-left: 10px;
        width: auto;}
    
        .second-container img {width: 150px;
            height: 100px;
            border-radius: 20px;
            object-fit: cover;
            transition: all 0.3s;
            }
        
        .second-container img:hover {
            padding: 20px;
            border-radius: 40px;
        }
     
        .semillas h4 {margin: 35px 35px}
        .granos h4 {margin: 35px 45px;}
        .celiacos h4 {margin: 36px 34px;}
        .frutos h4 {margin: 35px 22px;
            font-size: 18px;}

        .third-container {height: 470px;}
        .third-container_video {width: 300px;
            height: 200px;}
}